.topUK {
    position: relative;

}

.cabecera {
    font-size: 50px;
}


.movititle {
    width: 140px;
    
}

.fila0{
    font-size: 25px;

}
.directors {
    width: 600px;
}

.genres {
    width: 80px;
}

.related {
    width: 500px;
}


