<!DOCTYPE HTML>
<!--
 Ejemplo de MongoDB
-->
<HTML class="topUK">

<HEAD>
  <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
  <TITLE>Ejemplo de MongoDB</TITLE>
  <link rel="stylesheet" href=" {{ url_for('static', filename='css/si1.css')}} ">
</HEAD>

<BODY>


  <h2 class="cabecera"> Tablas de querys</h2>

  <table>
    {% for item in movies %}
    <tr>
      <td><br></td>
    </tr>
    <tr>
      <td>
        <h3 >
          {% if (loop.index0 == 0) %}

          Comedias(1990 - 1992)
          {% endif %}
          {% if (loop.index0 == 1) %}
          Acción (1995, 1997 y 1998)
          {% endif %}
          {% if (loop.index0 == 2) %}
          Darren McAree y Katie Lockett
        </h3>
        {% endif %}
      </td>
    </tr>
    <tr class="fila0">
      <td>Movie Title</td>
      <td>Genre</td>
      <td>Year</td>
      <td>Votes &nbsp</td>
      <td>Rating</td>
      <td>Directors</td>
      <td>Actors</td>
      <td>Related Movies</td>
    </tr>
    {% for movie in item %}
    <tr>
      <td>
        <div class="movititle"> {{movie.title}} &nbsp</div>
      </td>
      <td>
        <div class="genres">{% for genre in movie.genres %} {{genre}} {% endfor %}</div>
      </td>
      <td>{{movie.year}} &nbsp</td>
      <td>{{ movie.number_of_votes}} &nbsp</td>
      <td>{{ movie.average_rating}} &nbsp</td>
      <td>{% for director in movie.directors %} {{director}} &nbsp {% endfor %}</td>
      <td>
        <div class="directors">{% for actor in movie.actors %} {{actor}} &nbsp {% endfor %}</div>
      </td>
      <td>
        <div class="related"><br>{% for m in movie.related_movies %}

          {% for related_m in movie.related_movies %}
          {% for m in related_m %}
          Title: &nbsp {{m.title}} &nbsp Year: &nbsp {{m.year}} &nbsp Rating: &nbsp {{m.average_rating}}<br>
          {% endfor %}

          {% endfor %}

          {% endfor %}
        </div>
      </td>
    </tr>
    {% endfor %}

    {% endfor %}
  </table>
  <!-- TODO: tabla de películas Consulta 1 -->
  <!-- TODO: tabla de películas Consulta 2 -->
  <!-- TODO: tabla de películas Consulta 3 -->
</BODY>

</HTML>